@font-face {
  font-family: 'Larsseit-Thin';
  src: url('./fonts/Larsseit-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Campton-SemiBold';
  src: url('./fonts/Campton-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'QuincyCF-Light';
  src: url('./fonts/QuincyCF-Light.otf') format('opentype');
}
